
.scroller {
  max-height: 650px;
  overflow-y: scroll;
  
}
#box1{
    text-align: left;
    margin: 10px;
    padding: 15px;
    float:left;
    width: 27%;
    height: 220px;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #1c2364;

  }
  
#box2{
    text-align: left;
    margin: 10px;
    padding: 14px;
    float:left;
    width: 89%;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #1c2364;  
}

#box3{
    text-align: left;
    margin: 10px;
    padding: 15px;
    float:left;
    width: 25%;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
}

.example-container {
    width: 300px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    padding-right: 16px;
    height: 400px; 
    overflow: auto;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: #1c2364;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  #KPI_table{
    padding: 5px;
  }

.headline {
  color: #1c2364;
  padding-right: 1%;
  padding-left: 1%;
  font-size: large;
}

.headline2 {
  color: #1c2364;
  padding-right: 1%;
  padding-left: 1px;
  font-size: large;
}

.headline3 {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  /*top: 20px;*/
  background-color: white;
  height: 40px;
  top: 0;
}