
<div>
  <p class="headline"><b>Projektstatistik</b></p>
</div>
<div class="scroller">
<div id="box1" *ngIf="openTasks && members && project" >
  <b class="headline"> Allgemeines</b>
  <br>
  <br>
  <br>
  <table >
    <tr>
      <br>
      <td id="KPI_table" >
        <b>Projektleiter:</b>
      </td>
      <td> {{project.projectmanager.firstname}} {{project.projectmanager.lastname}} </td>
    </tr>
    
    <tr>
      <br>
      <td id="KPI_table" >
        <b>Kunde:</b>
      </td>
      <td> {{project.customer.firstname}} {{project.customer.lastname}}</td>
    </tr>
   
    <tr>
        <br>
        <td id="KPI_table" > 
          <b>Anzahl Personen:</b>  
        </td>
        <td>{{members.length}}</td>
      </tr>
  </table>



  </div>

<div id="box1" *ngIf="openTasks && closedTasks && inWorkTasks">
    <b class="headline2" type="headline"> Statusübersicht</b>
    <br>
    <br>
      <div style="display: block">
        <canvas baseChart
                    [data]="[openTasks.length, inWorkTasks.length, closedTasks.length]"
                    [chartType]="doughnutChartType"
                    [colors]="doughnutChartColors"
                    [labels]="doughnutChartLabels"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
      </div>
</div>

<div id="box1" *ngIf="openTasksToday && closedTasksToday && inWorkTasksToday"> 
    <b class="headline2" type="headline"> Überschrittene Fälligkeit </b>
        
        <br>
        <br>
        <div style="display: block">
          <canvas baseChart
                      [data]="[closedTasksToday.length, openTasksToday.length + inWorkTasksToday.length]"
                      [chartType]="doughnutChartType"
                      [colors]="doughnutChartColors"
                      [labels]="doughnutChartLabels2"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>    
</div>



<div id="box2" *ngIf="openTasks && closedTasks && inWorkTasks">
    <b class="headline2" type="headline">Kanban Board</b>
    <br>

    <!--(cdkDropListDropped)="drop($event)"  -->  
    <div class="example-container" >
        <div class="headline3">
            <h2>Offen</h2>
        </div>      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="openTasks"
          [cdkDropListConnectedTo]="[doingList, donelist]"
          class="example-list">
          <div class="example-box" *ngFor="let openTask of openTasks" cdkDrag>{{openTask.title}}</div>
        </div>
      </div>

    <div class="example-container">
        <div class="headline3">
          <h2 >In Arbeit</h2>
        </div>        
        <div
          cdkDropList
          #doingList="cdkDropList"
          [cdkDropListData]="inWorkTasks"
          [cdkDropListConnectedTo]="[todoList,doneList]"
          class="example-list">
          <div class="example-box" *ngFor="let inWorkTask of inWorkTasks" cdkDrag>{{inWorkTask.title}}</div>
        </div>
      </div>
    

  
      <div class="example-container">
        <div class="headline3">
          <h2 >Geschlossen</h2>
        </div>
        
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="closedTasks"
          [cdkDropListConnectedTo]="[todoList,doingList]"
          class="example-list">
          <div class="example-box" *ngFor="let closedTask of closedTasks" cdkDrag>{{closedTask.title}}</div>
        </div>
      </div>
</div>
</div>