<p class="headline"><b>Alle Nachrichten</b></p>
<div class="scroller">
<div id="box1">    

<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">

       <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Betreff </th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eingangszeitpunkt </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef> Absender </th>
        <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
      </ng-container>

  <!--
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>
  -->
  

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          {{element.content}}
          <div>

             <input type="button" class="buttons" value="Antworten" (click)="answerMail(element)" matDialogClose>      
              <input type="button" class="buttons" value="Weiterleiten" (click)="forwardMail(element)">
              <input type="button" class="buttons" value="Task anlegen" (click)="openNewTask(element)">
              <input type="button" class="buttons" value="Löschen" (click)="openReallyDelete(element)">


               <!--    <button (click)="openReallyDelete()" >
                      <mat-icon class ="material-icons color_blue ">delete</mat-icon>
                    </button> --> 
          </div>
        </div>
      </div>
    </td>
  </ng-container>

    <!--Button newMail-->
    <ng-container matColumnDef="tableFooter">
      <td mat-footer-cell *matFooterCellDef colspan="7">
          <button (click)="newMail()" class ='button footer'>
            <mat-icon class ="material-icons color_blue footer">add_comment</mat-icon>
          </button>
        
        </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  <tr mat-footer-row *matFooterRowDef="['tableFooter']; sticky: true" class="example-second-footer-row"></tr>
</table>
<!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
</div>
</div>