

#box1{
  padding-left: 1%;  
  max-height: 600px;
  overflow-y: auto;
}
  table {
    width: 100%;
  }
   /*.scroller {
    max-height: 600px;
    overflow-y: scroll;

  }*/
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .buttons {
    background-color: #1c2364;
    color: white;
    width: 200px;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
  }

  button{
    background-color: #ffffff;
    border: 5cm;
    padding: 1px;
}

button.footer {
    background-color: #ffffff;
    border: 5cm;
    float: right;
}

 

.headline {
  color: #1c2364;
  padding-right: 1%;
  padding-left: 1%;
  font-size: large;

}

.material-icons.color_blue { 
  color: #1c2364; 
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.material-icons.color_blue.footer { 
  color: #1c2364; 
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}
