<div id="box1">
  <p class="headline"><b>Tasks der Woche</b></p>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

    <ng-container matColumnDef="projectID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ProjektId </th>
      <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
    </ng-container>
    

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Task ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Titel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Faelligkeit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
      <td mat-cell *matCellDef="let element"> {{element.deadline | date}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <!--  <div class="example-element-position"> {{element.ID}} </div>
          <div class="example-element-title"> {{element.Title}} </div>
          <div class="example-element-status"> {{element.status}} </div>
          <div class="example-element-faelligkeit"> {{element.faelligkeit | date }} </div> -->
          </div>
          <div class="example-element-description">
            {{element.description}}

            <br>
            <br>
            <div>
              <!--
                <button (click)="changeTask(element.projectID, element.ID)">
              -->
              <button (click)="changeTask(element.projectId, element.id)"> 
                  Bearbeiten
                </button>
            </div>


          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

<div id="boxTask" *ngIf="openTasks && closedTasks && inWorkTasks">
  <p class="headline"><b>Taskübersicht</b></p>
  <div style="display: block">
    <canvas baseChart 
        [data]="[openTasks.length, inWorkTasks.length, closedTasks.length]" 
        [chartType]="doughnutChartType" 
        [colors]="doughnutChartColors"
        [labels]="doughnutChartLabels" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)"></canvas>
  </div>
  <br>
  <br>
</div>
<!--
  
-->
<div id="boxFaelligkeit" *ngIf="openTasksToday && closedTasksToday && inWorkTasksToday">
  <p class="headline"><b>Überschrittene Fälligkeit</b></p>
  <div style="display: block">
    <canvas baseChart 
        [data]="[closedTasksToday.length, openTasksToday.length + inWorkTasksToday.length]"
        [chartType]="doughnutChartType" 
        [colors]="doughnutChartColors"
        [labels]="doughnutChartLabels2" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)"></canvas>
  </div>
  <br>
  <br>
</div>