<div id="box1">

<div class="scroller"> 
<table mat-table [dataSource]="dataSource" multiTemplateDataRows
matSort class="mat-elevation-z8">

    <ng-container matColumnDef="Abrechnen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Abrechnen 
        </th>
        <td mat-cell *matCellDef="let option">
          <mat-checkbox color = "primary"
                        (click)="$event.stopPropagation()"
                        (change)="onCheckboxChange(option,$event)"
                        [checked]="selection.isSelected(row)"
                        value="{{option.id}}"
                        [checked]="checked(option)"
                        >
          </mat-checkbox>
        </td>
      </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
        <!-- Id Column -->
        <ng-container matColumnDef="Beschreibung">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Beschreibung </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Aufgabe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Preis/Stück </th>
      <td mat-cell *matCellDef="let element"> {{element.pricePerQuatity}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Betrag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Betrag </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    

    <!--
   <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
        </div>
        <div class="example-element-description">
           {{element.description}}
           <br> 
           <br>
         <div>
           <button (click)="changeTask()"> 
             Bearbeiten
           </button>
           <button (click)="deleteTask()">
             Löschen
           </button>
         </div>
        </div>
      </div>
    </td>
    </ng-container>
    -->

  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row">
    </tr>
  </table>
</div>
  <button class="buttonr" (click)="addCosts()">Weitere Kosten </button>
 
  <INPUT class="buttone" type="submit" value="Rechnung als PDF" (click)="createInvoice()">
      

      </div>