<p class="headline"><button type="button" class="close" aria-label="Close" matDialogClose>X</button><b>Zeit buchen</b></p>
<!--<form #newtaskForm = "ngForm"> 
  {{newtaskForm.value | json }}
  <hr />
-->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Zeit in Stunden</mat-label>
    <input matInput type="number" placeholder="0" min="0" step="0.25" [formControl]="time">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Beschreibung</mat-label>
    <input matInput placeholder="Bitte geben Sie eine Beschreibung ein" [formControl]="description">
    <textarea matInput rows="5" cols="40" ></textarea>
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
  </mat-form-field>

  <button (click)="saveTime()"aria-label="Close" matDialogClose>
    Zeit buchen
  </button>
</div>

