button {
    background-color: #1c2364;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
}
.close{
    color: black;
    border: 0px;
    background-color: white;
    float: right;
    width: 10px;
    padding-top: 0%;
}

.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

.mat-form-field {
    width: 100%;
}