.material-icons.color_blue { 
    color: #1c2364; 
    font-size: 35px;
    height: 35px;
    width: 35px;
    line-height: 35px;
}

.mat-header-row {
    display: none;
}

.mat-cell-tasks {
    font-size: 13px;
    text-align: left;
}

.mat-cell {
    color: #1c2364;
}

.mat-button {
    font-size: 13px;
    padding: 0px;
}

table {
    width: 100%;
}