<button mat-button (click)="openOverview()">
    <mat-icon class ="material-icons color_blue ">apps</mat-icon>
    Übersicht
</button>
<hr>

<button mat-button (click)="openStatistics()">
    <mat-icon class ="material-icons color_blue ">bar_chart</mat-icon>
    Statistiken
</button>
<hr>

<button mat-button (click)="openTeam()">
    <mat-icon class ="material-icons color_blue ">people_outline</mat-icon>
    Personen
</button>
<hr>

<button mat-button (click)="openInvoice()">
    <mat-icon class ="material-icons color_blue ">euro_symbol</mat-icon>
    Rechnungen
</button>
<hr>

<button mat-button (click)="openAttachments()">
    <mat-icon class ="material-icons color_blue ">attach_file</mat-icon>
    Anhänge
</button>

<hr>
