
<div class="example-containerforgot" style="padding-top: 25%">
    <mat-card>
        <mat-card-header><p class="headline"><b>Neues Passwort beantragen</b></p></mat-card-header>


        Bitte informieren Sie Ihren Admin unter:
        <br>
        <b style="color: #1c2364">planstry@outlook.com</b> oder <b  style="color: #1c2364"> +49 2374 523343</b>.
        <br>
        <br>
    <!-- <mat-form-field appearance="outline">
        <mat-label>Admin E-Mail Adresse</mat-label>
        <input matInput placeholder="Bitte geben Sie die Admin E-Mail Adresse ein" >
        <mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>
     </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Benutzername</mat-label>
          <input matInput placeholder="Bitte geben Sie den Benutzernamen ein" >
          <mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>
       </mat-form-field> -->
       <button class="pwvergessen" (click)="back()" mat-button>Zurück </button>
    </mat-card>
  </div>


