mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .example-container {
    padding: 60px 1rem;
  }
  .mat-form-field{
    width: 100%;
  }
  
  .ebutton
  {
    width: 150px;
    padding: 10px;
    background-color: #1c2364;
    color: white;
  }
  
  .pwvergessen{ 
    width: 150px;
    padding: 10px;
    background-color: #1c2364;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;  
  }
  
  mat-card-header{
    color: #1c2364;
    font-weight: bold;
  }

  .headline {
  color: #1c2364;
  font-size: large;
margin-left: 13%;
}