    <!--<mat-form-field>
        <mat-select placeholder="Benutzer auswählen">
          <mat-option *ngFor="let benutzer of benutzers" [value]="benutzer.value">
            {{benutzer.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      -->
  <!--<select [(ngModel)]="selectionModel" (change)="onChange()">
      <option [ngValue]="undefined" disabled selected>Choose Name</option>
      <option *ngFor="let item of data" [ngValue]="item"> {{item.name}} </option>  
    </select>
   
  
    <input type="text" [(ngModel)]="name">
    -->
    <div id="box1">
         <p class="headline"><b>Nutzerverwaltung</b><button type="button" class="close" aria-label="Close" matDialogClose>X</button></p>
    </div>
 
    

<div *ngIf="data">
 <mat-form-field appearance="outline">
    <mat-label>Vorname</mat-label>
    <input matInput [(ngModel)]="data.us.firstname">
    
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>

 <mat-radio-group>
      <mat-radio-button class="radio" value="1" [checked]=" isCustomer"  color = "primary">Kunde</mat-radio-button>
      <mat-radio-button value="2" [checked]=" isEmployee"  color = "primary">Mitarbeiter</mat-radio-button>
 </mat-radio-group>

 <mat-form-field appearance="outline">
    <mat-label>Nachname</mat-label>
    <input matInput [(ngModel)]="data.us.lastname" >
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>
 <mat-form-field appearance="outline">
    <mat-label>E-Mail Adresse</mat-label>
    <input matInput [(ngModel)]="data.us.mail">
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>

 <mat-form-field appearance="outline">
    <mat-label>Passwort</mat-label>
    <input matInput placeholder="Passwort" >
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>

 <mat-form-field appearance="outline">
    <mat-label>Hausnummer</mat-label>
    <input matInput [(ngModel)]="data.us.housenumber">
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>

 <mat-form-field appearance="outline">
    <mat-label>Ort</mat-label>
    <input matInput [(ngModel)]="data.us.place">
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>

 <mat-form-field appearance="outline">
    <mat-label>Postleitzahl</mat-label>
    <input matInput [(ngModel)]="data.us.zipcode" >
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>
 <mat-form-field appearance="outline">
    <mat-label>Handynummer</mat-label>
    <input matInput [(ngModel)]="data.us.mobil" >
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>
 <mat-form-field appearance="outline">
    <mat-label>Telefonnummer</mat-label>
    <input matInput [(ngModel)]="data.us.phone" >
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>

</div>


   <button (click)="addNewCompany()"aria-label="Close" style="margin-right: 1%; padding:7px; float: right;" matDialogClose>
 <mat-icon style="color:#1c2364;">save</mat-icon>  </button>
