.mat-form-field, selectionModel {
    width: 48%;
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

.mat-radio-group {
    width: 100%;
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    margin-block-end: 5%;
}

mat-radio-button {
    width: 10%;
    color: #1c2364;
    margin-block-end: 1%;

}


button {
    background-color: #1c2364;
    color: white;
    border-radius: 5px;
    margin-left: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 1%;
}

.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}


.close{
    color: #1c2364;
    border: 0px;
    background-color: white;
    float: right;
} 

button{
    background-color: #ffffff;
    border: 0cm;
}

button.footer {
    background-color: #ffffff;
    border: 0cm;
    float: right;
}
