<p class="headline"><b>Neuer Benutzer</b><button type="button" class="close" aria-label="Close" matDialogClose>X</button></p>

<!-- 
<mat-form-field appearance="outline">
   <mat-label>Benutzername</mat-label>
   <input matInput placeholder="Bitte geben Sie einen Benutzernamen ein" [formControl]="benutzername" required>
   <mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>
</mat-form-field> -->

<!-- <mat-radio-group>
  <mat-radio-button type="radio" name="role" [value]="role" [(ngModel)]="kunde.role" >Kunde</mat-radio-button>
  <mat-radio-button  type="radio" name="role" [value]="role"  [(ngModel)]="mitarbeiter.role"  >Mitarbeiter</mat-radio-button>
   <mat-error +ngIf ="role.invalid"> </mat-error> 
</mat-radio-group> -->
<mat-form-field appearance="outline">
    <mat-label>Rolle *</mat-label>
      <mat-select placeholder="Bitte wählen Sie einen Projektleiter aus" [(ngModel)]="setRole"> 
          <mat-option value="role" *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
          <input matInput  [formControl]="role">
      </mat-select>
  </mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Benutzername</mat-label>
    <input matInput placeholder="Bitte geben Sie einen Benutzernamen ein" [formControl]="benutzername" required>
    <mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>
 </mat-form-field> 
 <br>

<mat-form-field appearance="outline">
  <mat-label>Vorname</mat-label>
<input matInput placeholder="Bitte geben Sie Ihren Vornamen ein" [formControl]="vorname" required>
<mat-error *ngIf="vorname.invalid">{{getErrorMessageVorname()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline"> 
  <mat-label>Nachname</mat-label>
<input matInput placeholder="Bitte geben Sie Ihren Nachnamen ein" [formControl]="nachname" required>
<mat-error *ngIf="nachname.invalid">{{getErrorMessageNachname()}}</mat-error>
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>E-Mail Adresse</mat-label>
<input matInput placeholder="Bitte geben Sie eine gültige E-Mail Adresse ein" [formControl]="email" required>
<mat-error *ngIf="email.invalid">{{getErrorMessageEMail()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>E-Mail Adresse bestätigen</mat-label>
<input matInput placeholder="Bitte bestätigen Sie Ihre E-Mail Adresse" [formControl]="emailbestaetigen" required>
<mat-error *ngIf="emailbestaetigen.invalid">{{getErrorMessageEMailBestaetigen()}}</mat-error>
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>Neues Passwort</mat-label>
<input matInput placeholder="Bitte geben Sie ein neues Passwort ein" [type]="hide ? 'password' : 'text'" [formControl]="neuesPasswort" required>
<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : ' visibility_off'}}</mat-icon>
<mat-error *ngIf="neuesPasswort.invalid">{{getErrorMessageNeuesPasswort()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Neues Passwort bestätigen</mat-label>
<input matInput placeholder="Bitte bestätigen Sie Ihr neues Passwort" [type]="hide ? 'password' : 'text'" [formControl]="neuesPasswortbestaetigen" required>
<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
<mat-error *ngIf="neuesPasswortbestaetigen.invalid">{{getErrorMessageNeuesPasswortBestaetigen()}}</mat-error>
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>Straße</mat-label>
<input matInput placeholder="Bitte geben Sie die Straße Ihrer Adresse ein"  [formControl]="street">
    </mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Hausnummer</mat-label>
<input matInput placeholder="Bitte geben Sie Ihre Hausnummer ein" [formControl]="housenumber">
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>Ort</mat-label>
<input matInput placeholder="Bitte geben Sie Ihren aktuellen Wohnort ein" [formControl]="location" type="text">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Postleitzahl</mat-label>
<input type="number" matInput placeholder="Bitte geben Sie die Postleitzahl Ihres Wohnorts ein" [formControl]="zipcode">
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>Telefon *</mat-label>
<input type="number" matInput placeholder="Bitte geben Sie Ihre Telefonnummer ein" [formControl]="telefon">
<mat-error *ngIf="telefon.invalid">{{getErrorMessageTelefon()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
<mat-label>Handy</mat-label>
<input type="number" matInput placeholder="Bitte geben Sie Ihre Handynummer ein" [formControl]="mobile">
<mat-error *ngIf="mobile.invalid">{{getErrorMessageHandy()}}</mat-error>
</mat-form-field>


<mat-form-field appearance="outline">
    <mat-label>Unternehmen *</mat-label> 
   <mat-select placeholder="Bitte wählen Sie einen Kundennamen aus"  [(ngModel)]="setCustomer"> 
       <mat-option value="option" [value]="customer" *ngFor="let customer of customers" >{{customer.name}} </mat-option>
       <input matInput [formControl]="customer">
   </mat-select>
</mat-form-field>


<button (click)="saveUser()" style=" padding:7px;  text-align: center; float: right; margin-right: 9px; margin-top: 25px;"> <mat-icon style="color:#1c2364;">save</mat-icon></button>