.mat-form-field {
    width: 48%;
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

.mat-radio-group {
    width: 48%;
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    margin-block-end: 5%;
}

.mat-radio-button {
    width: 20%;
    color: #1c2364;
    margin-block-end: 1%;

}

.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    font-size: large;

}

.close{
    color: black;
    border: 0px;
    background-color: white;
    float: right;
}


button{
    background-color: #ffffff;
    border: 0cm;
}

button.footer {
    background-color: #ffffff;
    border: 0cm;
    float: right;
}
