<mat-card *ngIf="userIsLoggedIn">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef>Meine Projekte</th>
            <td mat-cell *matCellDef="let element"> 
                   <button mat-button [routerLink]="['', { outlets: { primary: ['projectoverview', element.id],rightside: ['project'] } }]">
                    {{element.title}}
                </button> 
                
            </td>
        </ng-container>        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>
