.mat-cell {
    color: #1c2364;
}

.mat-cell-tasks {
    font-size: 11px;
    text-align: right;
}

.mat-header-row {
    display: none;
}

table {
    width: 100%;
}

button.mat-button :hover {
    background-color: #a6a7a8;
    color: #1c2364 !important;
  }