<!--<p class="headline"><b>Login</b></p>
mat-card class="Bild">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/Logo-transp.png">

</mat-card>
-->

<div class="example-container">
  <mat-card>
    <mat-card-header>
      <p class="headline"><b>Willkommen bei planstry</b></p>
    </mat-card-header>
    <mat-form-field appearance="outline">
      <mat-label>Benutzername</mat-label>
      <input matInput placeholder="Benutzername" [(ngModel)]="username">
      <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput placeholder="Bitte hier das Passwort eingeben" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <input type="button" class="ebutton" value="Login" (click)="DoLoginGetRole()" />
  </mat-card>

  <input class="pwbutton" TYPE="button" value="Passwort vergessen?" onClick="parent.location='./forgotpw'">
</div>

<!--  <input type="button" class="xbutton" value="Token" (click)="GetRole()" />
  <button class="EinloggenButton" mat-button>Einloggen</button>
Test um Daten zu empfangen und darzustellen von ner Website über Http
    <ul class="list-group">
      <li class="list-item"
        *ngFor="let todo of todos">
        {{ todo.title}}
      </li>
    </ul>-->