
.example-container {
  padding: 60px 1rem;
  padding-top: 15%;
}

.mat-form-field{
  width: 100%;
}
.mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  box-shadow:  0px 1px 5px 1px #a6a7a8;

}
.ebutton
{
  background-color: #1c2364;
  color: white;
  width: 200px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

.pwbutton{
  background-color: white;
  color: #1c2364;
  width: 200px;
  margin-left: 810px;
  border: none;
}

.headline {
  color: #1c2364;
  font-size: large;
margin-left: 18%;
}