<mat-card class="chat-window">
    <mat-grid-list cols="6" rowHeight="50px">
        <mat-grid-tile [colspan]="6" [rowspan]="1" class="header">
            <!-- Header -->

        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="6" class = "mat-grid-tile-leftsight">
            <!-- Leftsight -->
            <div class="example-container">
                <table mat-table [dataSource]="dataSource">
                    <!-- Chat Partner -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="body=0">
                                {{element.name}}
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-grid-tile-footer>
                <button mat-icon-button matSuffix>
                    <mat-icon mat-button matSuffix (click)="body='newchat'">add_comment</mat-icon>
                </button>
                <button mat-icon-button matSuffix>
                    <mat-icon mat-button matSuffix (click)="body='addperson'">person_add</mat-icon>
                </button>
            </mat-grid-tile-footer>
        </mat-grid-tile>
        <div [ngSwitch]="body">
        <mat-grid-tile [colspan]="4" [rowspan]="6">
            <!-- Body -->
            <div *ngSwitchDefault>
                <app-chatwindow></app-chatwindow>
            </div>
            <div *ngSwitchCase="'newchat'">
                <app-newchat></app-newchat>
            </div>
            <div *ngSwitchCase="'addperson'">
                <app-addperson></app-addperson>
            </div>
        </mat-grid-tile>
        </div>
    </mat-grid-list>
</mat-card>