.chat-window {
    bottom: 65px;
    right: 0;
    position: fixed;
    float: right;
    margin-left: 10px;
    height: 35%;
    width: 20%;
}

.header {
  background: #1c2364;
}

.mat-icon {
  color: #1c2364;
}

.chatfooter {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1c2364;
  text-align: right;
}

.mat-header-row {
  display: none;
}

.example-container{    
  overflow: auto;
  height: 250px;
  width: 100%;
}

button.mat-button :hover {
  background-color: #a6a7a8;
  color: #1c2364 !important;
}

.mat-grid-tile-footer {
  color: #1c2364 !important;
  background-color: white !important;
}

.mat-cell {
  padding-right: 10px !important;
  color: #1c2364 !important;
}

.mat-grid-tile-leftsight {
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: #1c2364;
}