<div id="box1">
    <p class="headline"><button type="button" class="close" aria-label="Close" matDialogClose>X</button><b>Rechnungsposten erstellen</b></p>

<mat-dialog-content class="mat-typography">

    <mat-form-field appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput rows="5" cols="40" [formControl]="description"></textarea>
        <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Menge</mat-label>
        <input matInput placeholder="Stück" [formControl]="quatity">
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Preis/Stück</mat-label>
        <input matInput placeholder="Preis/Stück" [formControl]="pricePerQuatity">
    </mat-form-field>
    <br>

    <button (click)="save()" style="margin-right: 5%; padding:7px; float: right;">
        <mat-icon style="color:#1c2364;">save</mat-icon>
    </button>
</mat-dialog-content>
</div>