<p style="padding: 10px;position:center;">Hier befindet sich der Chatverlauf.</p>
<mat-grid-tile-footer>
    <mat-form-field>
        <input matInput placeholder="Nachricht schreiben" autocompleteDisabled="true">
        <button mat-icon-button matSuffix>
            <mat-icon mat-button matSuffix>send</mat-icon>
        </button>
    </mat-form-field>
</mat-grid-tile-footer>