<div *ngIf="task && project">
  <div id="box1">
    <b>Taskinfos </b>
    <br><br>
    <table>
        <tr>
            <td> Projekt:</td>
            <td>
              {{project.title}}
            </td>
          </tr>
      <tr>
        <td>Titel: </td>
        <td> {{task.title}}</td>
      </tr>
      <tr>
        <td> Task-ID:</td>
        <td> {{task.id}} </td>
      </tr>
      <tr>
        <td> Kunde:</td>
        <td> {{project.customer.firstname}} {{project.customer.lastname}} </td>
      </tr>
    </table>
  </div>

  <div id="boxbutton" style="text-align:center; vertical-align:middle; padding: 18px;">
    <button class="button-top" style="margin-top: 35px; margin-right: 20px; margin-bottom: 35px;" (click)="cusMail()">
      Nachricht an Kunde senden </button>
    <button (click)="closeTask()" class="button-top"> Task abschließen </button>
  </div>
</div>

<div *ngIf="task && project">
  <div id="box2">
    <table>
      <colgroup>
        <col width="200">
        <col width="300">
      </colgroup>
      <tr>
        <td height=60>Verantwortlicher: </td>
        <td>
          {{task.responsible.firstname}} {{task.responsible.lastname}}
        </td>
      </tr>
      <tr>
        <td height=60>Fälligkeitsdatum: </td>
        <td>
          {{task.deadline | date}}
        </td>
      </tr>
    
      <tr>
        <td height=60>Status: </td>
        <td>
          {{task.status.name}}
        </td>
      </tr>
      <tr>
        <td height=60>Priorität: </td>
        <td> 
          {{task.priority.name}}
        </td>
      </tr>
      <tr>
        <td height=60>Beobachten: </td>
        <td>
          <mat-checkbox color = "primary" [checked]="spectator" (change)="spectator = !spectator"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td height=60>Erwarteter Zeitaufwand: </td>
        <td> {{task.expectedExpense}} h</td>
      </tr>
      <tr>
        <td height=60>Beschreibung: </td>
        <td> {{task.description}} </td>
      </tr>
    </table>
    <button mat-icon-button (click)="toggle = !toggle" class="button-bottom">
      <mat-icon mat-button class="material-icons color_blue ">create</mat-icon>
    </button>
  </div>

  <div id="box2" *ngIf="toggle">
    <table>
      <colgroup>
        <col width="200">
        <col width="300">
      </colgroup>
      <tr>
        <td height=60>Verantwortlicher: </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-select [(ngModel)]="setResponsible">
                  <mat-option *ngFor="let member of members" [value]="member.id">{{member.firstname}} {{member.lastname}}</mat-option>       
                  <input matInput [formControl]="responsible">
                </mat-select>
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td height=60>Fälligkeitsdatum: </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" [(ngModel)]="task.deadline">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td height=60>Status: </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-select [(ngModel)]="setStatus">
                  <mat-option *ngFor="let taskStatus of taskStatus" [value]="taskStatus.id">{{taskStatus.name}}</mat-option>       
                  <input matInput [formControl]="status">
                </mat-select>
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td height=60>Priorität: </td>
        <td> 
            <mat-form-field class="example-full-width">
                <mat-select [(ngModel)]="setPriority">
                <mat-option [value]="priority.id" *ngFor="let priority of priorities">{{priority.name}}</mat-option>       
                <input matInput [formControl]="priority">
              </mat-select>
            </mat-form-field>
      </td>
      </tr>
      <tr>
        <td height=60>Beobachten: </td>
        <td>
          <mat-checkbox color = "primary" [checked]="spectator" (change)="spectator = !spectator"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td height=60>Erwarteter Zeitaufwand: </td>
        <td>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="task.expectedExpense">
              <span matSuffix>h</span>
            </mat-form-field>
        </td>
      </tr>
      <tr>
        <td height=60>Beschreibung: </td>
        <td>
          <textarea matInput class="example-full-width" rows="2" cols="40"[(ngModel)]="task.description"></textarea>
        </td>
      </tr>
    </table>
    <button mat-icon-button (click)="saveTask()" class="button-bottom">
      <mat-icon mat-button class="material-icons color_blue " mat-button>save</mat-icon>
    </button>
  </div>
</div>