#box1{
    text-align: left;
    margin: 1%;
    padding: 1%;
    float:left;
    width: 40%;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: relative;
    color: #1c2364;
}

#boxbutton{
  text-align: left;
  margin: 1%;
  margin-left: 48px;
  padding: 5%;
  padding-left: 5%;
  float:left;
  width: 40%;
  box-shadow:  0px 1px 5px 1px #a6a7a8;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: relative;
  color: #1c2364;
}

#box2{
    text-align: left;
    margin: 1%;
    padding: 15px;
    float:left;
    width: 85%;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    top: 165px;
    color: #1c2364;
    position: absolute;

}

.material-icons.color_blue { 
  color: #1c2364; 
  font-size: 35px;
  height: 35px;
  width: 35px;
  line-height: 35px;
}

.button-bottom{
  background-color: #ffffff;
  border: 0cm;
  float: right;
}

.button-top{
  background-color: #1c2364;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-form-field{
  height: 60px !important;
}

.example-full-width {
  width: 250px;
}