.flexContainer {
    display: flex;
}
.flexItem {
    flex: 1;
}
.flexColumn {
    flex-direction: column;
}
.fullHeight {
    height: 100%;
}

.main{
    order: 2;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

.sidebarLeft{
    order: 1;
    width: 15%;
}
.sidebarRight{
    order: 3;
    width: 15%;
}

.mat-card {
    border: 0px;
  }