<div class="flexContainer flexColumn fullHeight">
        <app-menu></app-menu>
    
        <mat-card class="flexContainer flexItem " fxFlex="1">
          <mat-card class="flexItem main">
            <p>
              <!-- if ( login Token gesetzt ) -->
            

                <router-outlet ></router-outlet> <!-- Body Komponente-->
              <!-- else -->
              <!--login-->
            </p>
          </mat-card>
          <app-leftside class="sidebarLeft" [hidden]="hideLeftSide"></app-leftside>
          <app-rightside class="sidebarRight" [hidden]="hideElement"></app-rightside>
        </mat-card>
        <app-footer></app-footer>
        <script type="text/javascript" src="app/auth/components/auth/auth.controller.js"></script>
</div>
