<div class="scroller"> 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Firmen-ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="adresse">
    <th mat-header-cell *matHeaderCellDef> Adresse </th>
    <td mat-cell *matCellDef="let element"> {{element.street}} {{element.housenumber}}, {{element.zipcode}} {{element.location}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="telefon">
    <th mat-header-cell *matHeaderCellDef> Telefon </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="e-mail">
    <th mat-header-cell *matHeaderCellDef> E-Mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="website">
    <th mat-header-cell *matHeaderCellDef> Website </th>
    <td mat-cell *matCellDef="let element"> {{element.website}} </td>
  </ng-container>

  <!-- !!! noch hinzufügen, wenn Datenmodell vollständig vorhanden ist !!!
  <ng-container matColumnDef="Mitarbeiter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mitarbeiter </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
  </ng-container>
  -->

  <!--bearbeiten-->
  <ng-container matColumnDef="bearbeiten">
    <th mat-header-cell *matHeaderCellDef> Bearbeiten </th>
    <td mat-cell *matCellDef="let element">

      <button (click)="openChangecompany(element)">
        <mat-icon class ="material-icons color_blue ">create</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- löschen-->
  <ng-container matColumnDef="loeschen">
    <th mat-header-cell *matHeaderCellDef> Löschen </th>
    <td mat-cell *matCellDef="let element">

      <button (click)="openReallyDelete(element)" >
        <mat-icon class ="material-icons color_blue ">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!--Button newUser-->
  <ng-container matColumnDef="tableFooter">
    <td mat-footer-cell *matFooterCellDef colspan="8">
        <button (click)="openNewcompany()" class ="button footer">
          <mat-icon class ="material-icons color_blue footer">person_add</mat-icon>
        </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="['tableFooter'], sticky: true" class="example-second-footer-row"></tr>
</table>
</div>