<p class="headline"><b>Kundenverwaltung</b><button type="button" class="close" aria-label="Close" matDialogClose>X</button></p>

<div *ngIf="data">
<mat-form-field appearance="outline">
   <mat-label>Kundenname</mat-label>
   <input matInput [(ngModel)]="data.cus.name" required>
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>Straße</mat-label>
<input matInput [(ngModel)]="data.cus.street">
    </mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Hausnummer</mat-label>
<input matInput [(ngModel)]="data.cus.housenumber">
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Postleitzahl</mat-label>
<input type="number" matInput [(ngModel)]="data.cus.zipcode">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Ort</mat-label>
<input matInput [(ngModel)]="data.cus.location" type="text" pattern="[A-Za-z]{3}">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Telefon</mat-label>
<input type="number" matInput [(ngModel)]="data.cus.phone">
<mat-error *ngIf="telefon.invalid">{{getErrorMessageTelefon()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>E-Mail Adresse</mat-label>
<input matInput value={{data.cus.email}} [(ngModel)]="data.cus.email" required>
<mat-error *ngIf="email.invalid">{{getErrorMessageEMail()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Website</mat-label>
  <input matInput [(ngModel)]="data.cus.website" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Umsatzsteuer-Identifikationsnummer</mat-label>
<input type="number" matInput [(ngModel)]="data.cus.taxid">
<mat-error *ngIf="ustid.invalid">{{getErrorMessageUstId()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>IBAN</mat-label>
<input matInput [(ngModel)]="data.cus.iban">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>BIC</mat-label>
    <input matInput [(ngModel)]="data.cus.bic">
        </mat-form-field>
</div>

<button (click)="saveChangedCompany()"aria-label="Close"
  style="margin:5px; padding:7px; text-align: center; float: right; margin-right: 9px;" matDialogClose>
<mat-icon style="color:#1c2364;">save</mat-icon>  </button>