<p class="headline"><b>Kommentare zu diesem Task</b></p>


<div id="box">
  <mat-card class="example-card" *ngFor="let comment of comments;">
    <mat-card-header>
      <mat-card-title class="example-header" style="color:#1c2364;">
        {{comment.id}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <table>
        <tr>
          <td style="width: 100px;">
            <b> {{comment.user.firstname}} {{comment.user.lastname}}
              <!-- {{comment.personId === person.personId}} --> </b>
            <br>
            {{comment.created | date}}
            <br>

          </td>
          <td style="text-align:justify;  width: 600px; height:20px;">
            <div style="overflow-y:auto; height:80px;">
              
              {{comment.text}}
            </div>


          </td>
        </tr>
        <br>
      </table>

      <!-- <button (click)="changeComment(comment)" style="margin:5px; padding:7px;  "  *ngIf="isAdmin">
        <mat-icon style="color:#1c2364;">create</mat-icon>
      </button> -->
      <button (click)="openDeleteComment(comment)" style="margin:5px; padding:7px; " *ngIf="isAdmin">
        <mat-icon style="color:#1c2364;">delete</mat-icon>
      </button>

    </mat-card-content>
  </mat-card>
</div>

<div id="box2">
  <!-- neuen Kommentar hinzufügen-->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="color:#1c2364">Neuer Kommentar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
   
    <!--     <mat-form-field appearance="outline" >
          <mat-label>Titel</mat-label>
            <input matInput placeholder="Bitte geben Sie einen Betreff ein" [formControl]="title"  required>
        </mat-form-field> -->
          
        <mat-form-field appearance="outline">
          <mat-label>Text</mat-label>
            <input matInput placeholder="Bitte geben Sie einen Text ein" [formControl]="description" required>
        </mat-form-field>
      
     <!--  <label>Text: <input type="text" formControlName="description" style="width:80%; height: 60%;"> </label> -->
     <br>
     <button (click)="addComment()" (click)="refresh" style="margin:5px; padding:7px;  text-align: center; float: right; margin-right: 9px;"> <mat-icon style="color:#1c2364;">save</mat-icon></button>

   </mat-card-content>
    </mat-card>
</div>