.example-card {
    
    margin: 10px;
    padding: 10px;
    width: 95%;
    height: 250px;

    float: left;
    text-align: center;
    vertical-align: center;
    position:center;

    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: relative;
    color: #1c2364;
    }

.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    font-size: large;
 
}

#box{
    width: 80%;
    max-height: 450px;
    overflow:auto;
}
#box2{
    margin-top: 30px;
    width: 80%;
}
  


.material-icons.color_blue { 
    color: #1c2364; 
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 20px;
}
 
.material-icons.color_blue.footer { 
    color: #1c2364; 
    font-size: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

button{
    background-color: #ffffff;
    border: 0cm;
    float: right;
    width: 30px;
}

button.footer {
    background-color: #ffffff;
    border: 0cm;
    float: right;
}

.mat-form-field {
    width: 80%;
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

/* ::ng-deep .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
} */