<div *ngIf="userIsLoggedIn">
<mat-toolbar class ="flexContainer">
  <button mat-button>
      <img class="sizeImage" src= "http://localhost:4200/assets/images/Logo-Schrift-blau.png" routerLink="/home">
  </button>
   <div _ngcontent-c1="" class="flex-spacer"></div>
  
  <!-- <button mat-button (click)="toggle = !toggle"> 
    <mat-icon class ="material-icons color_white ">search</mat-icon>
  </button>
  <mat-form-field *ngIf="!toggle">
    <input matInput>
  </mat-form-field> -->
 
 <!-- nur für ADMIN sichtbar-->

<!--Kundenverwaltung-->
<button mat-button [matMenuTriggerFor]="menuAdminCustomer" *ngIf="isAdmin" > 
    <mat-icon class ="material-icons color_white ">ballot</mat-icon>
  </button>
  <mat-menu #menuAdminCustomer="matMenu">
      <button mat-menu-item routerLink="/admincompanies">Firmenverwaltung</button>
  </mat-menu>


<!--Nutzerverwaltung-->
<button mat-button [matMenuTriggerFor]="menuAdminUser" *ngIf="isAdmin" > 
  <mat-icon class ="material-icons color_white ">people_outlined</mat-icon>
</button>
<mat-menu #menuAdminUser="matMenu">
    <button mat-menu-item routerLink="/adminusers">Nutzerverwaltung</button>
</mat-menu>

 <!--Neues Projekt-->
  <button mat-button [matMenuTriggerFor]="menuAdminNewProject" *ngIf="isAdmin" style="margin-right: 40px;">
    <mat-icon class ="material-icons color_white ">playlist_add</mat-icon>
  </button>
 <mat-menu #menuAdminNewProject="matMenu">
      <button mat-menu-item routerLink="/admin-newproject">Neues Projekt</button>
  </mat-menu>




 <!--Statistics-->
  <button mat-button [matMenuTriggerFor]="menuStatistics">
    <mat-icon class ="material-icons color_white ">insert_chart_outlined</mat-icon>
  </button>
  <mat-menu #menuStatistics="matMenu">
      <button mat-menu-item routerLink="/statisticsall">Statistiken</button>
  </mat-menu>

  <!--Postfach-->
  <button mat-button [matMenuTriggerFor]="menuPostfach"> 
    <mat-icon class ="material-icons color_white ">mail_outline</mat-icon>
  </button>
  <mat-menu #menuPostfach="matMenu">
      <button mat-menu-item routerLink="/adminmails">Alle Nachrichten</button>
  </mat-menu>

  <!--Meine Tasks-->
  <button mat-button [matMenuTriggerFor]="menuTasks"> 
    <mat-icon class ="material-icons color_white ">list</mat-icon>
  </button>
  <mat-menu #menuTasks="matMenu">
      <button mat-menu-item routerLink="/usertasks">Alle Tasks</button>
  </mat-menu>

   <!--Profil-->
  <button mat-button [matMenuTriggerFor]="menuProfil">
    <mat-icon class ="material-icons color_white ">person_outline</mat-icon>
  </button>
  <mat-menu #menuProfil="matMenu">
    <button mat-menu-item routerLink="/usersetups">Einstellungen</button>
    <button mat-menu-item  (click)="openDialog()"  >Logout</button>
  </mat-menu>
</mat-toolbar>
</div>