#box1{    
        text-align: left;
        margin: 10px;
        padding: 15px;
        float:left;
        width: 27%;
        height: 220px;
        border-color: rgb(82, 81, 81);
        border-width: 1px;
        border-style: solid;
        box-shadow:  11px 11px 3px -8px rgba(105,102,105,1);
        background-color: rgb(255, 255, 255);  
}

#box2{
    background-color:#a6a7a8;
    position: center;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 250px;
    border: 1px solid black;
    text-align: center;
    border-radius: 100px;
}

.example-card {
    max-width: 350px;
    margin: 10px;
    padding: 15px;
    float: left;
    position:center;
      box-shadow:  0px 1px 5px 1px #a6a7a8;

  }
  
.example-header{
    color: #1c2364;
    position: center;
    
  }

.newMember{
    position: center;
    
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  button {
    background-color: #1c2364;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
}

.headline {
  color: #1c2364;
  padding-right: 1%;
  padding-left: 1%;
  font-size: large;

}
