<p class="headline"><b>Projektmitglieder</b></p>


<div *ngIf="isAdminOrPM " >
  <!-- neues Mitglied hinzufügen-->
  <mat-card class="example-card" style="padding-bottom: 3px; margin-bottom: 500px;" >
      <mat-card-header >
          <mat-card-title class="example-header">Teammitglied hinzufügen</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <mat-form-field>
                <mat-select placeholder="Neues Mitglied wählen" [(ngModel)]="setUser">
                  <!-- andere Daten verwenden!!!!!!!!!!-->
                  <mat-option value="option" *ngFor="let user of users" [value]="user"  >{{user.firstname}} {{user.lastname}} </mat-option>
                  <input matInput  [formControl]="newUser">
                </mat-select>
              </mat-form-field>
              <button (click)="addMember()">Hinzufügen</button>
        </mat-card-content>
  </mat-card>
</div>


<div style="overflow-x:auto; height: 600px;width: 70%;">
<div *ngIf="members">
      <mat-card class="example-card" *ngFor="let member of members;">
        <button (click)="openReallyDelete(member)" style="float:right;  color: #a6a7a8; background-color: white; border:0px;" *ngIf="isAdminOrPM"> X </button>  
      <mat-card-header >
          
          <mat-card-title class="example-header" >{{member.firstname}} {{member.lastname}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <table>
              <tr>
                <td>
                  E-Mail:
                </td>
                <td>
                    {{member.mail}}
                </td>
              </tr>
    
              <tr>
                  <td>
                    Telefon:
                  </td>
                  <td>
                      {{member.phone}}
                  </td>
                </tr>
        </table>

      </mat-card-content>
      </mat-card>
</div>
</div>

