#box1{
    padding-left: 1%;
  }

  button{
    background-color: #1c2364;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
  }

  .close{
    color: black;
    border: 0px;
    background-color: white;
    float: right;
} 