<div id="box1">
  <p class="headline"><button type="button" class="close" aria-label="Close" matDialogClose>X</button></p>
</div>


<br>
<h2 mat-dialog-title>Projekt abschließen</h2>
<mat-dialog-content class="mat-typography">
  <h3>Möchten Sie das Projekt wirklich abschließen?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)=closeProject()>Ja</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Nein</button>
</mat-dialog-actions>