<!--
<button mat-button [matMenuTriggerFor]="ProjektAuswahl">Bitte das Projekt auswählen</button>
<mat-menu #ProjektAuswahl>
  <button mat-menu-item>Projekt 1</button>
  <button mat-menu-item>Projekt 2</button>
</mat-menu>
-->
<div class="scroller">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="IDTask">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.IDTask}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="AufgabeTask">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
      <td mat-cell *matCellDef="let element"> {{element.AufgabeTask}} </td>
    </ng-container>
  
    <!-- Weight Column 
    <ng-container matColumnDef="Abrechnen">
      <th mat-header-cell *matHeaderCellDef> Abrechnen </th>
      <td mat-cell *matCellDef="let element"> {{element.Abrechnen}} </td>
    </ng-container>-->
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="BetragTask">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Betrag </th>
      <td mat-cell *matCellDef="let element"> {{element.BetragTask}} </td>
    </ng-container>

    <!--Checkbox-->
    <ng-container matColumnDef="Auswählen">
        <th mat-header-cell *matHeaderCellDef> Auswählen
          <!--<mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>-->
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color = "primary" 
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>

          
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <button mat-button>Projekttasks übernehmen</button>