table {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
  }
.scroller {
    max-height: 600px;
    overflow-y: scroll;

  }
  
button {
    background-color: #1c2364;
    color: white;
    width: 200px;
    border-radius: 5px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
   
}
.mat-menu-item{
  color: #1c2364;
  background-color: white;
}