<p class="headline"><b>Task bearbeiten</b></p>

<div class="example-container">
    <mat-form-field appearance="outline">
        <mat-label>Verantwortlicher</mat-label>
        <input matInput placeholder="Verantwortlicher" >
        <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
     </mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Projekt</mat-label>
    <input matInput placeholder="Projekt" >
    <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
 </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <input matInput [matDatepicker]="picker" placeholder="Fälligkeitsdatum">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          

        <mat-form-field appearance="outline">
            <mat-select placeholder="Status" disableRipple>
              <mat-option value="1">Offen</mat-option>
              <mat-option value="2">In Arbeit</mat-option>
              <mat-option value="3">Geschlossen</mat-option>
            </mat-select>
          </mat-form-field>
            
        <!--  <mat-form-field appearance="outline">
             <mat-select placeholder="Priorität" disableRipple>
               <mat-option value="1">Prio 1?</mat-option>
               <mat-option value="2">Prio 2?</mat-option>
               <mat-option value="3">Prio 3?</mat-option>
             </mat-select>
           </mat-form-field>

           <mat-form-field appearance="outline">
              <mat-label>Zeitaufwand?</mat-label>
              <input matInput placeholder="Zeitaufwand" >
              <mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>
           </mat-form-field> -->

            
          <mat-form-field class="example-full-width" appearance="outline">
              <textarea matInput placeholder="Beschreibung"></textarea>
            </mat-form-field>

            <button mat-button>Speichern</button>