.mat-form-field {
    width: 400px;
}

.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

.close{
    color: black;
    border: 0px;
    background-color: white;
    float: right;
    margin-right: 4%;
}

button{
    background-color: #ffffff;
    border: 0cm;
}

button.footer {
    background-color: #ffffff;
    border: 0cm;
    float: right;
}
