#boxAll{
    max-height: 725px;
    overflow-y: scroll;
    width: 100%;
}



#box1{
    text-align: left;
    margin: 1%;
    padding: 1%;
    float:left;
    width: 20%;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}



#box2{
    text-align: left;
    margin: 1%;
    margin-top: 20px;
    padding-right: 25%;
    padding: 1%;
    float:left;
    width: 12%;

   
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#boxProjektfortschritt{
    text-align: left;
    margin: 1%;
    margin-top: 20px;
    padding-right: 20%;
    padding: 1%;
    float:left;
    width: 15%;

   
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#boxRechnungs{
    text-align: left;
    margin: 1%;
    margin-left: 1%;
    padding: 1%;
    float:left;
    width: 93%;
    height: 93%;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    display: block; 
}

#box4{
    width: 95%;
    Float:left;
    height: 1%;
    margin: 1%;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

table {
    width: 100%;
    height: 10px;
    margin: 5px;
    padding: 5 px;
  }

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color:#1c2364;
}

::ng-deep .mat-checkbox .primary {
    background-color:  #1c2364;
}

#KPI_table{
    background-color: #a6a7a8;
    padding: 5px;
    text-align: center;
}

.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 6%;
    font-size: large;
    margin-top: 1px;
    margin-bottom: 1px;
}

.headlineWichtiges {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    font-size: large;
    margin-top: 1px;
    margin-bottom: 1px;
}

.headlineFaelligkeit{
    color: #1c2364;
    padding-right: 1%;
    padding-left: 6%;

    font-size: large;
    margin-top: 1px;
    margin-bottom: 1px;
}

.headlineFortschritt{
    color: #1c2364;
    padding-right: 1%;
    padding-left: 6%;
    
    font-size: large;
    margin-top: 1px;
    margin-bottom: 1px;
}

#testbox{
    float: left;
    width: 75%;
}