<div id="boxAll"> <!--boxall-->
 
  <div id="box1"> <!--box1-->
   <p class="headline"><b>Bitte Projekt wählen</b></p>
    <table mat-table [dataSource]="dataSource" >
      
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary"
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Projekttitel Column -->
      <ng-container matColumnDef="Titel">
        <th mat-header-cell *matHeaderCellDef> Projekte </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <!-- Projektleiter Column -->
      <ng-container matColumnDef="Projektleiter">
        <th mat-header-cell *matHeaderCellDef> Projektleiter </th>
        <td mat-cell *matCellDef="let element"> {{element.projectmanager.firstname}} {{element.projectmanager.lastname}} </td>
      </ng-container>
    
     
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </div> <!--box1-->

  <div id="testbox"> <!--testbox-->
 <div >
            <div id="box2" style="display: block; width: 42%; padding: 2%; padding-left: 29px; padding-right: 29px; margin: 1%;">
              <p class="headlineFaelligkeit" type="headline"><b>Überschrittene Fälligkeit</b></p>
              <br>
              
              <div style="display: block;">
                <canvas baseChart
                            [data]="doughnutChartData2"
                            [chartType]="doughnutChartType"
                            [colors]="doughnutChartColors"
                            [labels]="doughnutChartLabels2"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>

            <div id="boxProjektfortschritt" style="display: block; width: 42%; padding: 2%; margin: 1%;">
              <p class="headline"><b>Projektfortschritt</b></p>
              <br>
              
              <div>
              
                  <canvas baseChart #baseChart="base-chart"
                          [datasets]="barChartData"
                          [colors]= "barChartColor"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                          
            
              
              </div> 
            </div>

            <div id="box4">
              <p class="headlineWichtiges" type="headline"><b>Wichtiges</b></p>
                          <table >
                <tr>
                  <br>
                  <td id="KPI_table" >
                  15 </td>
                  <td> Anzahl Personen </td>
                  <td id="KPI_table" >100   </td>
                  <td> Offene Tasks </td>
                  <td id="KPI_table" >40000 
                    </td>
                <td> Restbudget</td>
                </tr>
                
                
              </table>

            </div>
            

            <div id="boxRechnungs" >
              <p class="headlineWichtiges" type="headline"><b>Rechnungsübersicht</b></p>

              <canvas baseChart
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"
                          style="height: 100px; "></canvas> 
            
            </div>
          </div>
</div> <!--testbox-->

</div> <!--boxall-->
