<p class="headline"><b>Neues Projekt anlegen</b></p>

<mat-form-field appearance="outline">
  <mat-label>Projektname</mat-label>
<input matInput placeholder="Bitte geben Sie einen Projektnamen ein" [formControl]="projecttitle">
    </mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Projektleiter</mat-label>
    <mat-select placeholder="Bitte wählen Sie einen Projektleiter aus" [(ngModel)]="setUser"> 
        <mat-option value="option" *ngFor="let user of users" [value]="user">{{user.firstname}} {{user.lastname}}</mat-option>
        <input matInput  [formControl]="projectmanager">
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Endzeitpunkt</mat-label>
<input matInput [matDatepicker]="picker" placeholder="Bitte geben Sie den Endzeitpunkt des Projekts ein" [formControl]="deadline">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>   
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Beschreibung</mat-label>
<input matInput placeholder="Bitte geben Sie eine Beschreibung ein"  [formControl]="description">
    </mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Budget</mat-label>
<input matInput placeholder="Bitte geben Sie ein Budget ein" [formControl]="budget">
    </mat-form-field>
<br>
<mat-form-field appearance="outline">
   <mat-label>Kunde</mat-label> 
  <mat-select placeholder="Bitte wählen Sie einen Kundennamen aus"  [(ngModel)]="setCustomer"> 
      <mat-option value="option" [value]="customer" *ngFor="let customer of customers" >{{customer.firstname}} {{customer.lastname}}</mat-option>
      <input matInput [formControl]="customer">
  </mat-select>

    </mat-form-field>
<br>

<button (click)="addNewProject()" style="margin:5px; padding:7px; margin-left: 46%; text-align: center; "> <mat-icon style="color:#1c2364;">save</mat-icon></button>