.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    font-size: large;

}


.mat-form-field {
    width: 48%;
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

button{
    background-color: #ffffff;
    border: 0cm;

}

button.footer {
    background-color: #ffffff;
    border: 0cm;
    float: right;
}
