
  <p class="headline"><button type="button" class="close" aria-label="Close" matDialogClose>X</button></p>

  <br>
      <h2 mat-dialog-title style=" color:  #1c2364" >Logout</h2>
  



      <mat-dialog-content class="mat-typography">
          <h3>Möchten Sie sich wirklich ausloggen?</h3>
        </mat-dialog-content>

 
    
    
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)='logout()'>Ja</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Nein</button>
    </mat-dialog-actions>




