button{
    background-color: #1c2364;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    float: right;
  }

.close{
    color: black;
    border: 0px;
    background-color: white;
    float: right;
} 


/*
.mat-card:not([class*=mat-elevation-z]) {
     box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); 
}
mat-card[_ngcontent-c12] {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    padding-top: 50%;
}

*/