
<p class="headline"><b>Meine Tasks</b></p>

<div id="box1">
   
  <table mat-table #sortTable1="matSort"
  [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

  <ng-container matColumnDef="projectId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Projekt ID </th>
    <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
  </ng-container>
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Task ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline | date}} </td>
  </ng-container>

   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
   <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
     <div class="example-element-detail"
         [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
       <div class="example-element-diagram">
        <!--  <div class="example-element-position"> {{element.taskId}} </div>
         <div class="example-element-title"> {{element.title}} </div>
         <div class="example-element-status"> {{element.status}} </div>
         <div class="example-element-faelligkeit"> {{element.deadline | date}} </div> -->
       </div>
       <div class="example-element-description">
         
          {{element.description}}

          <br> 
          <br>

        <div>
          <!--
            <button (click)="changeTask(element.projectID, element.ID)"> 
          -->
          <button (click)="changeTask(element.projectId, element.id)"> 
              Bearbeiten
            </button>
          
        </div>


       </div>
     </div>
   </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
   <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
     class="example-element-row"
     [class.example-expanded-row]="expandedElement === element"
     (click)="expandedElement = expandedElement === element ? null : element">
   </tr>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
   </table>
</div>

<!--Meine Tasks, die ich beobachte-->
<p class="headline"><b>Meine beobachteten Tasks</b></p>
<div id="box1">
   
  <table mat-table #sortTable2="matSort"
  [dataSource]="dataSource2" multiTemplateDataRows matSort class="mat-elevation-z8">

  <ng-container matColumnDef="projectId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Projekt ID </th>
    <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
  </ng-container>
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Task ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline | date}} </td>
  </ng-container>

   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
   <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
     <div class="example-element-detail"
         [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
       <div class="example-element-diagram">
        <!--  <div class="example-element-position"> {{element.taskId}} </div>
         <div class="example-element-title"> {{element.title}} </div>
         <div class="example-element-status"> {{element.status}} </div>
         <div class="example-element-faelligkeit"> {{element.deadline | date}} </div> -->
       </div>
       <div class="example-element-description">
         
          {{element.description}}

          <br> 
          <br>

        <div>
          <!--
            <button (click)="changeTask(element.projectID, element.ID)"> 
          -->
          <button (click)="changeTask(element.projectId, element.id)"> 
              Bearbeiten
            </button>
          
        </div>


       </div>
     </div>
   </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
   <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
     class="example-element-row"
     [class.example-expanded-row]="expandedElement === element"
     (click)="expandedElement = expandedElement === element ? null : element">
   </tr>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
   </table>
</div>

