#box1{
  max-height: 300px;
  overflow-y: auto;
  padding-left: 1%;
}

table {
    width: 99%;
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 5px;
    border: 0px solid black;
    padding: 5px;
    font-weight: lighter;
    margin: 5px 0;
    height: 40px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .example-element-bearbeiten {
    padding: 16px;
    
  } 

  button {
    background-color: #1c2364;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    font-size: large;

}
