table {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
}

.scroller {
    max-height: 600px;
    overflow-y: scroll;
  }


.material-icons.color_blue { 
    color: #1c2364; 
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
}
 
.material-icons.color_blue.footer { 
    color: #1c2364; 
    font-size: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

button{
    background-color: #ffffff;
    border: 0cm;
}

button.footer {
    background-color: #ffffff;
    border: 0cm;
    float: right;
}

.mat-cell {
    color: #1c2364;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}