<!--
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Suche">
</mat-form-field>  
-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <div class="scroller">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> User-ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> E-Mail </th>
    <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Telefon </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- !!! noch hinzufügen, wenn Datenmodell vollständig vorhanden ist !!!
  <ng-container matColumnDef="Mitarbeiter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mitarbeiter </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
  </ng-container>
  -->

  <!--bearbeiten-->
  <ng-container matColumnDef="bearbeiten">
    <th mat-header-cell *matHeaderCellDef> Bearbeiten </th>
    <td mat-cell *matCellDef="let element">

      <button (click)="openChangeUser(element)">
        <mat-icon class ="material-icons color_blue ">create</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- löschen-->
  <ng-container matColumnDef="loeschen">
    <th mat-header-cell *matHeaderCellDef> Löschen </th>
    <td mat-cell *matCellDef="let element">

      <button (click)="openReallyDelete(element)" >
        <mat-icon class ="material-icons color_blue ">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!--Button newUser-->
  <ng-container matColumnDef="tableFooter">
    <td mat-footer-cell *matFooterCellDef colspan="7">
        <button (click)="openNewUser()" class ='button footer'>
          <mat-icon class ="material-icons color_blue footer">person_add</mat-icon>
        </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="['tableFooter']; sticky: true" class="example-second-footer-row"></tr>
</div>
</table>
