#box1{
    padding-left: 1%;
  }

button{
    background-color: #1c2364;
      color: white;
      border-radius: 1%;
      padding-top: 1%;
      padding-bottom: 1%;
      margin: 1%
  }

  .close{
    color: black;
    border: 0px;
    background-color: white;
    float: right;
} 