<p class="headline"><b>Neuer Task</b> <button type="button" class="close" aria-label="Close" matDialogClose>X</button></p>
<!--<form #newtaskForm = "ngForm"> 
  {{newtaskForm.value | json }}
  <hr />
-->
<div>
  <table>
    <colgroup>
      <col width="450">
      <col width="450">
    </colgroup>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Titel</mat-label>
          <input matInput placeholder="Titel" name="Titel" [formControl]="title" required>
          <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
        </mat-form-field>
      </td>
      <td>

        <!--
                  <mat-form-field appearance="outline">
          <mat-label>Verantwortlicher</mat-label>
          <input matInput placeholder="Verantwortlicher" name="Verantwortlicher" [formControl]="responsible">
        </mat-form-field>
        -->

        <mat-form-field appearance="outline">
          <mat-select placeholder="Verantwortlicher" [(ngModel)]="setMember">
            <!-- andere Daten verwenden!!!!!!!!!!-->
            <mat-option value="option" *ngFor="let member of members" [value]="member">{{member.firstname}}
              {{member.lastname}} </mat-option>
            <input matInput [formControl]="responsible">
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="data">
      <td>
        <mat-form-field appearance="outline">
            <mat-select placeholder="Projekt" [(ngModel)]="setProject" (ngModelChange)="changeProject()">
              <!-- andere Daten verwenden!!!!!!!!!!-->
              <mat-option *ngFor="let project of projects" [value]="project">{{project.title}}</mat-option>
              <input matInput [formControl]="project">
            </mat-select>
          </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Deadline</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="deadline">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Priorität" [(ngModel)]="setPriority">
            <!-- andere Daten verwenden!!!!!!!!!!-->
            <mat-option value="option" *ngFor="let priority of priorities" [value]="priority">{{priority.name}}</mat-option>
            <input matInput [formControl]="priority">
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Status" [(ngModel)]="setStatus">
            <!-- andere Daten verwenden!!!!!!!!!!-->
            <mat-option value="option" *ngFor="let taskStatus of taskStatus" [value]="taskStatus">{{taskStatus.name}}</mat-option>
            <input matInput [formControl]="status">
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput rows="5" cols="40" [formControl]="description"></textarea>
          <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
        </mat-form-field>
      </td>
      <td VALIGN="TOP">
        <mat-form-field appearance="outline">
          <mat-label>Erwarteter Zeitaufwand in h</mat-label>
          <input matInput placeholder="Erwarteter Zeitaufwand in h" [formControl]="expectedExpanse">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <!--<button (click)="addTask()" style="margin-right: 5%; padding:7px; float: right;">
    <mat-icon style="color:#1c2364;">save</mat-icon>
  </button>-->
  <button (click)="addTask()" aria-label="Close" matDialogClose style="margin-right: 5%; padding:7px; float: right;">
    <mat-icon style="color:#1c2364;">save</mat-icon>
  </button>
</div>