
<div *ngIf="userIsLoggedIn">


<app-chat *ngIf="toggle"></app-chat> 
<mat-toolbar class ="flexContainer">
    <div _ngcontent-c1="" class="flex-spacer"></div>
    <h1>Chat</h1>
    <button mat-button (click)="toggle = !toggle"> 
        <mat-icon class ="material-icons color_blue ">message</mat-icon>
    </button>
</mat-toolbar>

</div>