.mat-toolbar {
    bottom: 0px;
    /*right: 0%;
    width: 100%;*/
    color: #1c2364;
    background: #a6a7a8;
}

.material-icons.color_blue { 
    color: #1c2364; 
    font-size: 35px;
    height: 35px;
    width: 35px;
    line-height: 35px;
}

.flex-spacer {
    flex-grow: 1;
}