<mat-toolbar class ="flexContainer">
  <button mat-button>
      <img class="sizeImage" src= "http://localhost:4200/assets/images/Logo-Schrift-blau.png" routerLink="/home">
  </button>
  <div _ngcontent-c1="" class="flex-spacer"></div>
  <button mat-button (click)="toggle = !toggle"> <!--Search-->
    <mat-icon class ="material-icons color_white ">search</mat-icon>
  </button>
  <mat-form-field *ngIf="!toggle">
    <input matInput>
  </mat-form-field>
  <button mat-button matTooltip="Neues Projekt" routerLink="/admin-newproject"> <!--Neues Projekt-->
    <mat-icon class ="material-icons color_white ">playlist_add</mat-icon>
  </button>
  <button mat-button matTooltip="Projekt löschen"> <!--Projekt löschen-->
    <mat-icon class ="material-icons color_white ">delete_sweep</mat-icon>
  </button>
  <button mat-button matTooltip="Nutzerverwaltung" routerLink="/adminusers"> <!--Nutzerverwaltung-->
    <mat-icon class ="material-icons color_white ">people_outlined</mat-icon>
  </button>


  
  <button mat-button [matMenuTriggerFor]="menuStatistics"> <!--Statistics-->
    <mat-icon class ="material-icons color_white ">insert_chart_outlined</mat-icon>
  </button>
  <mat-menu #menuStatistics="matMenu">
      <button mat-menu-item routerLink="/statisticsall">Statistiken</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuPostfach"> <!--Postfach-->
    <mat-icon class ="material-icons color_white ">mail_outline</mat-icon>
  </button>
  <mat-menu #menuPostfach="matMenu">
      <button mat-menu-item routerLink="/adminmails">Alle Nachrichten</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuTasks"> <!--Meine Tasks-->
    <mat-icon class ="material-icons color_white ">list</mat-icon>
  </button>
  <mat-menu #menuTasks="matMenu">
      <button mat-menu-item routerLink="/usertasks">Alle Tasks</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menuProfil"> <!--Profil-->
    <mat-icon class ="material-icons color_white ">person_outline</mat-icon>
  </button>
  <mat-menu #menuProfil="matMenu">
    <button mat-menu-item routerLink="/usersetups">Einstellungen</button>
    <button mat-menu-item  (click)="openDialog()"  >Logout</button>
  </mat-menu>
</mat-toolbar>
