.mat-toolbar {
    background: #1c2364;
}

.material-icons.color_white { 
    color: #ffffff; 
    font-size: 35px;
    height: 35px;
    width: 35px;
    line-height: 35px;
}

.sizeImage {
    height: 50px; 
    width: auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }

.mat-menu-item {
    color: #1c2364 !important;
  }
  
button.mat-menu-item{
    background-color: #ffffff;
  }
  
button.mat-menu-item:hover {
    background-color: #a6a7a8;
    color: #1c2364 !important;
  }

.matInput {
    color: #ffffff !important;
  }

.mat-form-field {
    color: #ffffff !important; 
}

.flex-spacer {
    flex-grow: 1;
}

.flexContainer {
    display: flex;
}