.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .mat-form-field {
    width: 48%;
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

  .headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    font-size: large;

}

    .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  

.material-icons.color_blue { 
  color: #1c2364; 
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;

}

.material-icons.color_blue.footer { 
  color: #1c2364; 
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

button{
  background-color: #ffffff;
  border: 0cm;
  float: right;
}

button.footer {
  background-color: #ffffff;
  border: 0cm;
  float: right;
}