<div class="example-container">
<div id="box1" *ngIf="user">
  <p class="headline"><b>Einstellungen</b></p>
    <mat-form-field appearance="outline">
        <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="user.firstname" [formControl]="vorname" required>
      <mat-error *ngIf="vorname.invalid">{{getErrorMessageVorname()}}</mat-error>
    </mat-form-field>
    

    <mat-form-field appearance="outline"> 
        <mat-label>Nachname</mat-label>
      <input matInput [(ngModel)]="user.lastname" [formControl]="nachname" required>
      <mat-error *ngIf="nachname.invalid">{{getErrorMessageNachname()}}</mat-error>
    </mat-form-field>
    <br>
    
<!--     <mat-form-field appearance="outline">
        <mat-label>E-Mail Adresse bestätigen</mat-label>
      <input matInput placeholder="Bitte bestätigen Sie Ihre E-Mail Adresse" [formControl]="emailbestaetigen" required>
      <mat-error *ngIf="emailbestaetigen.invalid">{{getErrorMessageEMailBestaetigen()}}</mat-error>
    </mat-form-field> -->
  

    <!-- <mat-form-field appearance="outline">
        <mat-label>Neues Passwort</mat-label>
      <input matInput placeholder="Bitte geben Sie ein neues Passwort ein" [type]="hide ? 'password' : 'text'" [formControl]="neuesPasswort" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : ' visibility_off'}}</mat-icon>
      <mat-error *ngIf="neuesPasswort.invalid">{{getErrorMessageNeuesPasswort()}}</mat-error>
    </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Neues Passwort bestätigen</mat-label>
      <input matInput placeholder="Bitte bestätigen Sie Ihr neues Passwort" [type]="hide ? 'password' : 'text'" [formControl]="neuesPasswortbestaetigen" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="neuesPasswortbestaetigen.invalid">{{getErrorMessageNeuesPasswortBestaetigen()}}</mat-error>
    </mat-form-field> -->

    <mat-form-field appearance="outline">
        <mat-label>Straße</mat-label>
      <input matInput [(ngModel)]="user.street">
          </mat-form-field>
    

    <mat-form-field appearance="outline">
        <mat-label>Hausnummer</mat-label>
      <input matInput [(ngModel)]="user.housenumber">
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Ort</mat-label>
      <input matInput [(ngModel)]="user.place">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Postleitzahl</mat-label>
      <input matInput [(ngModel)]="user.zipcode">
    </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>E-Mail Adresse</mat-label>
      <input matInput [(ngModel)]="user.mail" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessageEMail()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Telefon</mat-label>
      <input matInput [(ngModel)]="user.phone">
      <mat-error *ngIf="telefon.invalid">{{getErrorMessageTelefon()}}</mat-error>
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
      <mat-label>Handy</mat-label>
      <input matInput [(ngModel)]="user.mobil">
      <mat-error *ngIf="handy.invalid">{{getErrorMessageHandy()}}</mat-error>
    </mat-form-field>

        <button (click)="saveUser()" style="margin:5px; padding:7px;  text-align: center; margin-left: 1%; margin-right: 1%;"> <mat-icon style="color:#1c2364;">save</mat-icon></button>

</div>
</div>