<button mat-button (click)="openOverview()">
        <mat-icon class="material-icons color_blue ">apps</mat-icon>
    Übersicht
</button>
<hr>

<button mat-button (click)="openComments()"> <!--routerLink="/taskcomment"-->
    <mat-icon class="material-icons color_blue ">question_answer</mat-icon>
    Kommentare
</button>
<hr>

<button mat-button (click)="openAttachments()">
    <mat-icon class="material-icons color_blue ">attach_file</mat-icon>
    Anhänge
</button>
<hr>