<p class="headline"><b>Neuer Kunde</b><button type="button" class="close" aria-label="Close" matDialogClose>X</button></p>

<mat-form-field appearance="outline">
   <mat-label>Name des Kunden</mat-label>
   <input matInput placeholder="Bitte geben Sie einen Kundennamen ein" [formControl]="customer" required>
</mat-form-field>
<br>

<mat-form-field appearance="outline">
  <mat-label>Straße *</mat-label>
<input matInput placeholder="Bitte geben Sie die Straße Ihrer Adresse ein" [formControl]="street">
    </mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Hausnummer *</mat-label>
<input matInput placeholder="Bitte geben Sie Ihre Hausnummer ein" [formControl]="housenumber">
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Postleitzahl *</mat-label>
<input type="number" matInput placeholder="Bitte geben Sie die Postleitzahl Ihres Wohnorts ein" [formControl]="zipcode">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Ort *</mat-label>
<input matInput placeholder="Bitte geben Sie Ihren aktuellen Wohnort ein" type="text" [formControl]="location">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Telefon *</mat-label>
<input matInput placeholder="Bitte geben Sie Ihre Telefonnummer ein" [formControl]="phone">
<mat-error *ngIf="phone.invalid">{{getErrorMessageTelefon()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>E-Mail Adresse</mat-label>
<input matInput placeholder="Bitte geben Sie eine gültige E-Mail Adresse ein" [formControl]="email" required>
<mat-error *ngIf="email.invalid">{{getErrorMessageEMail()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Website</mat-label>
  <input matInput placeholder="Bitte geben Sie eine Website ein" [formControl]="website" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Umsatzsteuer-Identifikationsnummer *</mat-label>
<input matInput placeholder="Bitte geben Sie Ihre Umsatzsteuer-Identifikationsnummer ein" [formControl]="ustid">
<mat-error *ngIf="ustid.invalid">{{getErrorMessageUstId()}}</mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>IBAN *</mat-label>
<input matInput placeholder="Bitte geben Sie die IBAN des Unternehmens ein" [formControl]="iban">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>BIC *</mat-label>
    <input matInput placeholder="Bitte geben Sie die BIC des Unternehmens ein" [formControl]="bic">
        </mat-form-field>

       
        <button (click)="addNewCompany()" matDialogClose aria-label="Close"
          style="margin:5px; padding:7px; text-align: center; float: right; margin-right: 9px;" matDialogClose>
        <mat-icon style="color:#1c2364;">save</mat-icon>  </button>