.headline {
    color: #1c2364;
    font-size: large;

}
#box1{
    padding-left: 1%;
  }

  .close{
    color: black;
    border: 0px;
    background-color: white;
    float: right;
}


.abbrbutton{
    background-color: #1c2364;
    color: white;
    width: 200px;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
  }

.sendbutton{
    background-color: #1c2364;
    color: white;
    width: 200px;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px;
  } 

.mat-form-field {
    width: 80%;
    color: #1c2364;
    padding-left: 1%;
}
.buttons {
    background-color: #1c2364;
    color: white;
    width: 200px;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
  }