<div id="box1">
    <p class="headline"><button type="button" class="close" aria-label="Close" matDialogClose>X</button><b>Neuen Nachricht senden </b></p>
    


<mat-dialog-content class="mat-typography">

  <mat-form-field appearance="outline">
      <mat-label>Adresse</mat-label>
        <input matInput placeholder="Bitte geben Sie eine Adresse ein" [formControl]="adresse">
  </mat-form-field>
        <br>

    <mat-form-field appearance="outline">
        <mat-label>Nachricht</mat-label>
            <input matInput placeholder="Bitte geben Sie eine Nachricht ein" [formControl]="mailContent">
              <textarea matInput rows="5" cols="40"></textarea>
            <!--<mat-error *ngIf="benutzername.invalid">{{getErrorMessageBenutzername()}}</mat-error>-->
    </mat-form-field>

    <button class= "sendbutton" type="button" (click)="sendMail()"aria-label="Close" matDialogClose>Senden</button>
    <button class= "abbrbutton" type="button" aria-label="Close" matDialogClose>Abbrechen</button>
              