
  <!--<button mat-raised-button matDialogClose>X</button>-->
  <button type="button" class="close" aria-label="Close" matDialogClose>X</button>
    
  
<!--<mat-toolbar></mat-toolbar>-->


<p class="headline"><b>Nachricht beantworten</b></p>
<div *ngIf="data">
    <table>
        <colgroup>
          <col width="100">
          <col width="350">
        </colgroup>
        <tr>
          <td>Adresse: </td>
          <td>
            <mat-form-field appearance="outline">
              <input matInput value="{{data.mai.sender}}">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td> Nachricht:</td>
          <td>
              <mat-form-field appearance="outline">
                  <textarea matInput rows="5" cols="40" [formControl]="mailContent"></textarea>
                </mat-form-field>
          </td>
        </tr>
    </table>

  <button mat-button (click)="sendMail()" aria-label="Close" matDialogClose>Antworten</button>
  
</div>
