<button type="button" class="close" aria-label="Close" matDialogClose>X</button>
<p class="headline"><b>Nachricht weiterleiten</b></p>
<div *ngIf="data">
    <table>
        <colgroup>
          <col width="100">
          <col width="350">
        </colgroup>
        <tr>
          <td>Adresse: </td>
          <td>
            <mat-form-field appearance="outline">
              <input matInput [formControl]= "sendTo"> 
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td> Nachricht:</td>
          <td>
              <mat-form-field appearance="outline">
                  <textarea matInput rows="5" cols="40" style="text-align:left;" [formControl]="mailContent" >
                   
                _______________________________________
               Absender: {{data.mai.sender}}
                    
                Nachricht:  {{data.mai.content}}
                    
                  </textarea>
                </mat-form-field>
          </td>
        </tr>
    </table>
    <button mat-button (click)="sendMail()" aria-label="Close" matDialogClose>Weiterleiten</button>
  
</div>