.headline {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
}

.mat-form-field {
    color: #1c2364;
    padding-right: 1%;
    padding-left: 1%;
    width: 350px;
}

button {
    background-color: #1c2364;
    color: white;
    border-radius: 5px;
    margin-left: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 1%;
    float: right;
}

.material-icons.color_blue { 
    color: #1c2364; 
    font-size: 35px;
    height: 35px;
    width: 35px;
    line-height: 35px;
}
.close{
    color: black;
    border: 0px;
    background-color: white;
}