<div *ngIf="project">

      <div id="box1">
        <p class="headline1" type="headline"><b>Projektinfos</b></p>
          	<table >
              <tr>
                <td>ID: </td>
                <td> {{project.id}} </td>
              </tr>
              <tr>
                <td> Projektleiter:</td>
                <td> {{project.projectmanager.firstname}} {{project.projectmanager.lastname}} </td>
              </tr>
              <tr>
                <td> Kunde:</td>
                <td> {{project.customer.firstname}} {{project.customer.lastname}} </td>
              </tr>
          </table>
      </div>

      <div id="boxbutton" style="text-align:center; vertical-align:middle;">
        <button style="margin-top: 45px; margin-right: 15px;" (click)='newTask()'> Task anlegen </button>
        <button (click)='closeProject()'> Projekt abschließen </button>
      </div>
      
</div>

<div id="box3" *ngIf="project">
    <p class="headline"><b>Projektbeschreibung</b></p>
    {{project.description}}
  
</div>

<div id="box2">
    
    <p class="headline"><b>Projekttasks</b></p>

    <div class="scroller">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8" >
     
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="responsible">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Verantwortlicher </th>
      <td mat-cell *matCellDef="let element">
        {{element.responsible.firstname}} {{element.responsible.lastname}}
      </td> 
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fälligkeit </th>
        <td mat-cell *matCellDef="let element"> {{element.deadline | date}} </td>
      </ng-container>

  

       <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
   <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
         <!--  <div class="example-element-position"> {{element.taskId}} </div>
          <div class="example-element-title"> {{element.title}} </div>
          <div class="example-element-status"> {{element.status}} </div>
          <div class="example-element-faelligkeit"> {{element.deadline | date}} </div> -->
        </div>
        <div class="example-element-description">
          
           {{element.description}}
 
           <br> 
           <br>
 
         <div>
           <button (click)="bookingTime(element.projectId, element.id)">
            Stunden buchen
          </button>
          <button (click)="changeTask(element.id)"> 
            Bearbeiten
          </button>
          <!--
          <button [routerLink]="['', { outlets: { primary: ['taskoverview', '1', element.id],rightside: ['task'] } }]">
             Bearbeiten
           </button>
          -->
          
           
         </div>
 
 
        </div>
      </div>
    </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
 
</div> 
</div>