#box1{
    text-align: left;
    margin: 1%;
    padding: 1%;
    float:left;
    width: 522px;
    height: 120px;
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#boxbutton{
  text-align: left;
  margin: 1%;
  padding: 1%;
  float:left;
  width: 522px;
  height: 120px;
  box-shadow:  0px 1px 5px 1px #a6a7a8;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}


#box2{
    text-align: left;
    margin: 1%;
    padding: 1%;
    float:left;
    width: 85%;
    border-color: rgb(82, 81, 81);
    box-shadow:  0px 1px 5px 1px #a6a7a8;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}


#box3{
  text-align: left;
  margin: 1%;
  padding: 1%;
  float:left;
  width: 85%;
  box-shadow:  0px 1px 5px 1px #a6a7a8;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

table {
  width: 100%;
}
.scroller {
  height: 300px;
  overflow-y: scroll;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 5px;
  border: 0px solid black;
  padding: 5px;
  font-weight: lighter;
  margin: 5px 0;
  height: 40px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-element-bearbeiten {
  padding: 16px;
  
} 

button{
  background-color: #1c2364;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headline {
  color: #1c2364;
  padding-right: 1%;
  padding-left: 1%;
  font-size: large;

}

.headline1 {
  color: #1c2364;
  padding-right: 1%;
  padding-left: 2%;
  font-size: large;

}