<p class="headline"><b>Projektanhang</b></p>

<div>
  <!-- neuen Anhang hinzufügen-->
  <!-- <div *ngIf='isVisible'>-->
    <mat-card class="example-card" style=" margin-bottom: 500px;" >
      <mat-card-header >
          <mat-card-title style="color:#1c2364">Anhang hinzufügen</mat-card-title>
        </mat-card-header>
        <br>
  
        <mat-card-content >
          <input type="file" (change)="onFileSelected($event.target.files)" placeholder="Upload file" style="width: 230px;" >  
          <br>
          <br>
          <button type="button" (click)="addAttachment()"> Hinzufügen</button>
        </mat-card-content>
  </mat-card>
</div>

<div style="overflow:auto; height: 600px;">
<mat-card class="example-card" *ngFor='let file of files' style="height:200px;">
    <mat-card-header >
      <mat-card-title class="example-header" >
        <mat-icon style=" color:#1c2364;margin-left: auto; margin-right: auto;">attach_file</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <table style="margin-left: auto; margin-right: auto; ">
          <tr>
            <td>
              <b>ID:</b>
            </td>
            <td>
                {{file.id}}
            </td>
          </tr>

          <tr>
              <td>
                <b>Datei:</b>
              </td>
              <td>
                  {{file.filename}}
              </td>
            </tr>
            <tr>
                <td>
                  <b>Datum:</b>
                </td>
                <td>
                    {{file.timestamp | date}}
                </td>
              </tr>
              <br>


            </table>

            <button class="buttonIcon" type="button" (click)="downloadAttachment(file)" style="margin:5px; padding:7px; text-align: center; "> <mat-icon style="color:#1c2364;">get_app</mat-icon> </button>
           <!--  <button class="buttonIcon" type="button" (click)="deleteAttachement()" *ngIf="isAdmin" style="margin:5px; padding:7px;  text-align: center; "> <mat-icon style="color:#1c2364;" >delete</mat-icon></button> -->
     
  </mat-card-content>
  </mat-card>
</div>
