button {
    position: relative;
    margin: 5px;
    padding: 7px;
    text-align: center;
}

.example-card {
    max-width: 350px;

    width: 250px;

    float: left;
    text-align: center;
    vertical-align: center;

    margin: 10px;
    padding: 15px;
    float: left;
    position:center;
      box-shadow:  0px 1px 5px 1px #a6a7a8;
    }
    
    .example-header{
    color: #1c2364;
    position: center;
    text-align: center;
   /*  background-color: #a6a7a8;
    border: 1px solid #1c2364;
    border-radius: 100px;
    vertical-align: center; */
    width: 40px;
    height: 40px;

    }
    
    .newMember{
    position: center;
    text-align: center;
    
    }
    
    .example-container {
    display: flex;
    flex-direction: column;
   
    }
    
    .example-container > * {
    width: 100%;
    
    }
    
    .headline {
        color: #1c2364;
        padding-right: 1%;
        padding-left: 1%;
        font-size: large;
      
      }

      
      button{
        background-color: #1c2364;
        color: white;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    
    button.footer {
        background-color: #ffffff;
        border: 0cm;
        float: right;
    }

    
    .buttonIcon{
        background-color: #ffffff;
        border: 0cm;
    }
    

    .buttonIcon {
        position: relative;
        margin: 5px;
        padding: 7px;
        text-align: center;
    }
    